

@media screen and (min-width: 768px) {
  .header-wrapper {
    // border: 2px solid red;
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .home-content{
      width: 85%;
      height: calc(95vh - 10px);
      border: 2px solid red;
      display:grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 1rem;

      .content__text{
        height: 100%;
        flex-shrink: 1;
        font-size: calc(8px + 2vmin);
        border: 2px solid red;
        grid-column: 1/6;
        grid-row: 1/2;

        h2 {
          font-size: calc(4px + 2vmin);
          font-weight: 400;
          color: #666;
          text-align: left;
        }
      }
      .content__image{
        object-fit: contain;
        grid-column: 5/11;
        grid-row: 1/2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

  }


}
